
/*
	DOCUMENTO DONDE ESTA EL EstiloHTML.css	
*/

*{ /*PARA MODIFICAR TODO EL CONTENIDO DE LA PAGINA */
	box-sizing: border-box;
	margin:0px;
	/*border-style: inset;*/
}


.prueba{
	transition: all 0.5s linear;
}

.prueba:hover{
	transform: scale(1.3);
}

.MenuH a{
	background-color: black;
	color: white;
	text-decoration: none;
	padding-bottom:10px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.MenuH a:hover{
	background-color: white;
	color: black;
	overflow: hidden;
}

header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	border-style: double;
	text-align: center;
}

section{
	background: blueviolet;
	padding: 20px;
	width: 33%;
	height: 300px;
	float: left;
	overflow: auto;
	border-style: solid;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px: 
	
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
	clear: both;
}

article{
	background-color: rgba(128, 0, 128, 0.8);
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	overflow: auto;
}


